body{
  background-image: url("header_Background1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

h1{
    color:black;
    padding: 10px;
    font: 300%/1 "Lato",Helvetica,Arial,sans-serif;
    text-align: center;
}

#box-container {
    display: flex;
    height: 100%;
    flex-direction:row;
  }

.responsive-img {
    min-width: 100px;
    height: auto;
  }

.header_Background{
    background-color: #cccccc;
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    padding-top: 0.3in
}
.text-Format{
    font: 100%/1 "Lato",Helvetica,Arial,sans-serif;
}

.Input_Text{
  width: 300px;
  height: 30px;
  border-radius: 1em;
}

.nav-link {
  color:black;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  padding:20px 5px;
  display: inline-block;
  width: 33%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover {
  background-color:silver;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:flex;
  font-family: Arial, Helvetica, sans-serif;
}

.Form_Button{
  width: 100px;
  border-radius: 1em;
}

.MyImage{
    border-radius: 50%;
    border-color: silver;
    border-width: 10px;
    border-style: solid;
    opacity: 0.7;
    height: 300px;
    width: 300px;
}

#box-1{
    width: 25%;
    display: flex;
}
#box-2{
    width: 50%;
    display: flex;
    justify-content:center;
}    
#box-3{
    width: 25%;
    display: flex;
}

#box-4{
  width: 50%;
  display: flex;
  padding: 5%;
}
#box-5{
  width: 50%;
  display: flex;
  padding: 5%;
}
 

/* Social Media buttons */
button.fa {
    padding-left: 10px;
    font-size: 20px;
    width: 12px;
    height: 12px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
}
a.fa {
    padding-left: 10px;
    font-size: 20px;
    width: 12px;
    height: 12px;
    text-decoration: none;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  /* Hover on mouse touch */
  .fa:hover {
    opacity: 0.7;
    
  }
  .img1:hover {
    height: 310px;
    width: 310px;
    opacity: 1;
  }
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* IG */
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* GitHub */
  .fa-github {
    background: rgb(1, 8, 14);
    color: white;
  }


/* form */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 1em;
}


.li_Form{
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}


@media (max-Width: 450px){

#box-1{
    display: flex;
    width: 5%;
}

#box-2{
    margin: 5%;
    width: 90%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}    
#box-3{
    display: flex;
    width: 5%;
}

#box-4{
  width: 90%;
  display: flex;
  padding: 5%;
}
#box-5{
  width: 90%;
  display: flex;
  padding: 5%;
}
.MyImage{
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  opacity: 1;
  height: 200px;
  width: 200px;
}

.text-Format{
  font: 70%/1 "Lato",Helvetica,Arial,sans-serif;
}
h1{
  color:black;
  padding: 10px;
  font: 150%/1 "Lato",Helvetica,Arial,sans-serif;
  text-align: center;
}

.header_Background{
  background-color: #cccccc;
  height: 75px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  padding-top: 0.3in;
}

#box-container {
  display: flex;
  height: 100%;
  flex-direction:row;
  margin: 5px;
}

form {
  /* Center the form on the page */
  width: 200px;
  /* Form outline */
  padding: 0.5em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.Input_Text{
  width: 170px;
  height: 10px;
}

textarea {
  font: 1em sans-serif;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 1em;
  vertical-align: top;

}

.Form_Button{
  width: 50px;
}

.nav-link {
  color:black;
  font-weight: 100;
  font-size: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  padding:20px 5px;
  display: inline-block;
  width: 33%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
}