
h1{
    color:black;
    padding: 10px;
    font: 300%/1 "Lato",Helvetica,Arial,sans-serif;
    text-align: center;
}

head{
    margin: 1in, 0, 1in, 0;
}

#box-container {
    display: flex;
    height: 100%;
    flex-direction:row;
  }
.header_Background{
    background-color: #cccccc;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 0.3in
}
.indent{
    font: 100%/1 "Lato",Helvetica,Arial,sans-serif;
}

.MyImage{
    border-radius: 50%;
    border-color: silver;
    border-width: 10px;
    border-style: solid;
}

#box-1{
    width: 33%;
    display: flex;
}
#box-2{
    width: 45%;
    display: flex;
    justify-content:center;
}    
#box-3{
    width: 33%;
    display: flex;
}

/* Social Media buttons */
button.fa {
    padding-left: 10px;
    font-size: 20px;
    width: 12px;
    height: 12px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
}
a.fa {
    padding-left: 10px;
    font-size: 20px;
    width: 12px;
    height: 12px;
    text-decoration: none;
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  /* Hover on mouse touch */
  .fa:hover {
    opacity: 0.7;
    
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* IG */
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* GitHub */
  .fa-github {
    background: rgb(1, 8, 14);
    color: white;
  }